body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.aboutUs {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

p {
    text-align: center;
    font-weight: bold;
}