/*
the 4 colors used in this style:
#5b9aa0
#d6d4e0
#b8a9c9
#622569
*/

body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.observation {
    background-color: #5b9aa0;
    border: none;
}

.observation:hover {
    background-color: #548d92;
}

.welcoming {
    text-align: center;
    padding: 15px;
}

.input1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancel-button {
    width: auto;
    padding: 10px 18px;
    background-color: #ff1a1a;
    border: none;
}

.cancel-button:hover{
    background-color: #e60000;
}


.my-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancel-button {
        width: 100%;
    }
}

.label1 {
    float: right;
}


/* The Modal (background) */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

@media screen and (max-width: 300px) {
    .cancel-button, .register-button {
        width: 100%;
    }
}

.submit-comment {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.welcoming {
    text-align: center;
}

.center {
    margin-right: 40%;
}

.record {
    background-color: #5b9aa0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;
}

.record:hover {
    background-color: #548d92;
}

.float-right {
    float: right;
}

.reject-button {
    width: 5%;
    margin-top: 1%;
    margin-right: 1%;
}
.confirm-btn {
    background-color: #5b9aa0;
    float: right;
}
.confirm-btn:hover{
    background-color: #548d92;
}
.close-btn:hover {
    color: #e60000;
}

#submit-button {
    background-color: #5b9aa0;
}

#submit-comment:hover {
    background-color: #548d92;
}

.float-right {
    float: right;
}


.close-btn {
    background-color: #ff1a1a;
    width: 5%;
    margin-top: 1%;
    margin-right: 1%;
}
#close-btn:hover {
    background-color: #e60000;
}
#reject-comment{
    background-color: #ff1a1a;
}

.reject-btn{
    background-color: #ff1a1a;
}
.reject-btn:hover{
    background-color: #e60000;
}

