body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.submit-comment {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.welcoming {
    text-align: center;
}

.center {
    margin-right: 40%;
}

.record {
    background-color: #5b9aa0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;
}

.record:hover {
    background-color: #548d92;
}

.float-right {
    float: right;
}

.close-btn {
    width: 5%;
    margin-top: 1%;
    margin-right: 1%;
}

.close-btn:hover {
    color: #e60000;
}

#submit-comment {
    background-color: #5b9aa0;
}

#submit-comment:hover {
    background-color: #548d92;
}

#close-btn {
    background-color: #ff1a1a;
}
#reject-comment{
    background-color: #ff1a1a;
}
#close-btn:hover {
    background-color: #e60000;
}

#submit-critic {
    background-color: #5b9aa0;
}

#submit-critic:hover {
    background-color: #548d92;
}

#close-btn2 {
    background-color: #ff1a1a;
}

#close-btn2:hover {
    background-color: #e60000;
}

.slider-wrapper {

}