.footer {
    background-color: #b8a9c9;
    margin-bottom: 1%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0;
}

.SBU-logo {
    width: 13%;
    padding: 2px 2px;
    margin-left: 3%;
    margin-top: 1%;
}

#terms {
    text-align: center;
    font-size: 80%;
    margin-top: 3%;
}

.img-footer {
    width: 45%;
    padding: 0;
}

.footer-btn:hover {
    background-color: #9c97b4;
}

.footer-btn {
    background-color: #b8a9c9;
    margin-bottom: 0px;
    padding-bottom: 1%;
    margin-top: 2%;
}

.btn-group {
    width: 70%;
    float: right;
    bottom: 0;
}