/*
the 4 colors used in this style:
#5b9aa0
#d6d4e0
#b8a9c9
#622569
*/

body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.login {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.welcoming {
    text-align: center;
    padding: 15px;
}

.register {
    text-align: center;
}

.login-button {
    background-color: #5b9aa0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    margin-top: 1%;
}

.login-button:hover {
    background-color: #548d92;
}

.input1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancel-button {
    width: auto;
    padding: 10px 18px;
    background-color: #ff1a1a;
    border: none;
}

.cancel-button:hover{
    background-color: #e60000;
}

/* Center the image and position the close button */
.image-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
}

.my-container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e60000;
    cursor: pointer;
}



/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancel-button {
        width: 100%;
    }
}

.label1 {
    float: right;
}


/* The Modal (background) */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}



.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #e60000;
    cursor: pointer;
}


@media screen and (max-width: 300px) {
    .cancel-button, .register-button {
        width: 100%;
    }
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

a:hover {
    color: #5b9aa0;
}

.input-radio {
    padding: 5%;
}