body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.case-list {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.float-right {
    text-align: right;
}

#case-list {
    margin-top: 10%;
    margin-left: 7%;
}

.subject-button {
    background-color: #5b9aa0;
}

.subject-button:hover {
    background-color: #548d92;
}

.user:hover {
    color: #5b9aa0;
}

.dropdown-toggle {
    background-color: #5b9aa0;
    border: 1px solid #5b9aa0;
}

.dropdown-toggle:hover {
    background-color: #548d92;
    border: 1px solid #548d92;
}

.dropdown {
    float: right;
}

#subject, #satisfied, #time, #status {
    margin-right: 35%;
    float: right;
    background-color: #5b9aa0;
}

#subject:hover, #status:hover, #time:hover, #satisfied:hover {
    background-color: #548d92;
}

#case-time {
    display: none;
}

#ul-id {
    margin-left: 5%;
}

#case-satisfaction, #case-status {
    display: none;
}