body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

#myList {
    margin-left: 7%;
}

.see-status {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.observation {
    background-color: #5b9aa0;
}

.observation:hover {
    background-color: #548d92;
}

.float-right {
    text-align: right;
}

a:hover {
    color: #5b9aa0;
}

.case1 {
    background-color: #5b9aa0;
}

.case1:hover {
    background-color: #548d92;
}

.close-btn {
    margin-right: 1%;
    width: 5%;
}

.message {
    text-align: justify;
}

.satisfaction {
    background-color: #5b9aa0;
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

.satisfaction:hover {
    background-color: #548d92
}

.dissatisfaction {
    background-color: #ff1a1a;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
}

.dissatisfaction:hover {
    background-color: #e60000;
}
