body {
    background-color: #622569;
}

html {
    background-color: rgba(98, 37, 105, 1);;
}

.users-list {
    background-color: #b8a9c9;
    height: 50%;
    margin-top: 6%;
    border: 6px solid #9c97b4;
    padding: 3%;
    margin-bottom: 6%;
}

.float-right {
    text-align: right;
}

.users-link:hover {
    color: #5b9aa0;
}

.list-group {
    margin-top: 15%;
    margin-left: 6%;
}

.observation {
    background-color: #5b9aa0;
}

.observation:hover {
    background-color: #548d92;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 80%;
}

.input1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.close-btn {
    margin-right: 2%;
    margin-top: 1%;
}

.close-btn:hover {
    color: #e60000;
}

.my-btn {
    background-color: #5b9aa0;
    border: none;
}

.my-btn:hover {
    background-color: #548d92;
}

.group-of-buttons {
    margin-right: 20%;
    float: right;
    margin-bottom: 3%;
}

.group-of-buttons2 {
    float: right;
    margin-right: 14%;
}